* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    
  }
  
  
  
  body{
      
      height: 300vh;
      width: 100%;
      position: relative;
      overflow-x: hidden;
      
      min-height: 200vh;
      display: flex;
      justify-content: center;
      align-items :center;
     background: black;
    flex-direction: column;
      flex-wrap: wrap;
      
      z-index: 0;
      scroll-behavior: smooth;
      
     
  
    }
    
    .scrollnav{
        width: 30px;
        height: 140px;
        position: absolute;
        right: 2%;
        top: 20%;
        scroll-behavior: smooth;
        
        
    }

    .scrollnav ul{
        list-style: none;
        scroll-behavior: smooth;
    }

    .scrollnav a {
        
        text-decoration: none;
        color: rgb(255, 255, 255);
        opacity: 0.3;
        font-size: 30px;
        transition: all 200ms ease-in-out;
        scroll-behavior: smooth;
        cursor:pointer;
        

    } 

    


    .bg-img {
        object-fit: cover;
        min-height: 59%;
        width: 100%;
        position: absolute;
        top:0%;
        left:0;
        z-index: -4;
        display: flex;
        align-content: center;
        justify-content: space-evenly;
        flex-direction: column;
        /*clip-path: circle(500px at center 0);  */
        
        background-image: url(../imgs/wp4020124-dedsec-wallpapers\ copy.jpg);
        background-size: 100% 44%; 
        background-position-y: -10rem;
        background-repeat: no-repeat;
        animation: animate1 4s ease-in-out;
        object-fit: cover;
         
        
    }   

    .blacksection{
        background: black;
        width: 100%;
        height: 44em;
        flex-basis: 100%;
        position: relative;
        top: 28em;
        display: flex;
        flex-direction: row;
        cursor:default;
       
    
    }


    .blackbaslik{
        
        
        
        
      
        margin-top: 3.5em;
        margin-left: 6em;
        width: 44%;
        
        color: rgb(213, 233, 233);
      
    
    }

    .blackbaslik  h1{
      
      
        letter-spacing: 10px;
        
        color: white;
        
        font-style: normal;
        font-weight: normal;
        font-size: 3.5rem;
       
        letter-spacing: 0.03em;
        white-space: wrap;

    }


    .blackyazi{
      
        margin-top: 6.5em;
        margin-left: 12em;
       
        
        width: 24%;
        height: 40%;
        
        white-space: wrap;

    }
    .blackyazi h2{
        margin-top: 20px;
        
        
        font-size: 1.5em;
        color: rgb(213, 233, 233);
       
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;

 
    }

    
    .tanitimbtns{
      
    width: 420px;
      
       margin-top: 3em;
       height: 3em;
       display: flex; 
     
        justify-content: space-between;
      
   
        
    }
    .myworkbtn{
      
        height: 100%;
        width: 12rem;
        text-align: center;
        padding:12px;
        /*font-size: 15px;*/
        
        z-index: 1;
        /*width: 160px; */
       /* width: 120px; */
        
       
    
       background-color:  #353333;
       transition: 200ms ease;
       cursor: pointer;
   
    }

    .mymusicbtn{
       
        z-index: 1;
       height: 100%;
        width: 12rem;
        text-align: center;
        padding:12px;
        /*font-size: 15px;*/
        
        cursor: pointer;
        /*width: 160px; */
       /* width: 120px; */
      
    
       background-color: rgb(193,227,78);
       transition: 200ms ease;
               
                    
    }

    .tanitimbtns a {
       
        text-decoration: none;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        
            font-size: 20px;
    
      

    color: #FFF9F9;

    }

    .mymusicbtn a{
        color: black;
    }

    .mymusicbtn:hover{
        background-color: #a81515;
        
        
        }
    
    .myworkbtn:hover{
        background-color: rgba(128, 128, 128, 0.336);
    }
    

     .divider{
        margin-top: 80px;
        border-top: 3px solid #bbb;
        width: 200%;
    } 
   
    .section2{
       
        position: relative;
        top: 10px;
        
        color: white;
        width: 100%;
        height: 100vh;
        display: flex;
  
    }
    
    .h1-container{
        margin-top: 400px;
        width: 50%;
        height:320px;
        margin-left: 6%;
        margin-top: 400px;
       
    }

    .h1-container h1{
        letter-spacing: 2px;
        font-size: 60px;

    }


   
    .img-container{
       
        width: 50%;
        height:800px;
       
        position: relative;
        top: 46%;
        left: 0px;
     
      
        
    }

    .img-container img{
        
    
        width:100%;
        height: 100%;
        transform:scaleX(-1);
        
       
      
    }


    .p-container{
        width: 50%;
            padding-left: 100px;
            margin-top: 180px;
    }

    .p-container p{
        color: white;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 40px;


                    
        
    }

    .proje-basligi {
        align-self: center; 
        position: relative; 
        bottom: -1040px;
        
     }

     .proje-basligi h1{
         font-size: 80px;
        letter-spacing: 1px;
         color: white;
     }



    
   
     .body-box{
        overflow-y: hidden;
       /* background-color: rgb(250, 242, 242); */
        background: rgb(236, 228, 228); 
        background: rgb(31,46,72);
        background-color: rgb(15,22,32);
        background: linear-gradient(to bottom,rgb(15,22,32) 0%, #020808 100%, rgb(31,46,72) 50%);
        background: transparent;
        border-radius: 15px;
        opacity: 0.9;
        position: absolute;
       /* top: 4.2%; */
        /* top: 38%; */
        top: 300vh;
        align-self: center;
        width: 97%;
        /* min-height: 600px; */ 
        min-height: 620px;
        z-index: -1;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: unset;
        padding-right: 20px;
        padding-left: 20px;
        
      
    } 

   
    .body-box-appear{
        opacity: 1;
    }
   
   
   
   
   
   
    .headerbox {
       display: none;
        padding-left: 25px;
        
        position: relative;
        width: 100%;
        height: 60px;
        top:-15%;
        padding-top:  60px;
        color: rgb(5, 3, 3);
        text-transform: lowercase;
        letter-spacing: 2px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 50px;
    }

    

  
    .body-box .cards {
        overflow: hidden;
        background-color: rgb(193, 227, 78);
        opacity: 1;
        margin-top: 20px;
        margin: 10px;
        padding: 50px 30px; 
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 280px;    /* width 340px  büyük hlai */ 
        height: 520px;   /* height 520px  büyük hali*/ 
        justify-content: start;
        border-radius: 15px;
       /*  box-shadow: -6px -6px 20px rgba(255,255,255,0.6),  
                    6px 6px 20px rgba(0,0,0, 0.5);  */
                    
                   /*  box-shadow:  -6px -6px 10px rgba(255,255,255,0.5),
                     6px   6px 20px    rgba(0,0,0, 0.05);    */
                   
                   
                   
                   
                     z-index: 2;
                 transition: all 0.2s ease-in;


        cursor: pointer;
                      
    }

    .popups{
        display: none;
        position: fixed;
        top: 30%;
        left: 30%;
        width: 20%;
        height: 50%;
        background-color: red;

    }

    .modals{
        box-shadow: inherit;
        display: none;
        position:fixed;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.781);
        z-index: 3;
        width: 100%;
        height: 100%;
        
    }

    .modal-content{
        background-color: rgb(0, 0, 0);
        margin: 8% auto;
        padding:20px;
        border: 2px solid black;
        position: relative;
        top: 5%;
        width: 50%;
        height: 60%;
        margin-bottom: 100px;
       border-radius: 10px;

    }

    .modal-content h1 {
        color: greenyellow;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 3vw;
    
    }

    .modal-content p {
        
        margin-top: 16%;
        width: 100%;
        height: 30%;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        font-size:2vw;
        color: white;

    }


   
    .popup-burger{
        position: absolute;
   
        top: 7%;
        right: 7%;
        width: 4%;
        height: 6%;
        cursor: pointer;
    }

    

    .burgerpiece22{
        border-radius: 5px;
        margin-top: 4px;
         width: 150%;
        height: 4px;
        /* background-color:#00CAE7; */
        background-color:greenyellow;
        transition: all 0.1s ease-in-out;
        transform: translateY(8px) rotate(45deg) scale(1.1);
  }
  .burgerpiece33{
        border-radius: 5px;
        margin-top: 4px;
        width: 150%;
         height: 4px;
       /*  background-color: #00CAE7; */
        background-color: greenyellow;
        transition: all 0.1s ease-in-out;
        transform: rotate(-45deg) scale(1.1);
  }


    .close{
    
        float: right;
    
    font-size: 2vw;
    font-weight: bold;
    
    width:25px;
    height: 45px;
    
    cursor: pointer;

    position: relative;
    left:-5%;
    

    }


    #mdiv {
        width: 25px;
        height: 25px;
        background-color: red;
        border: 1px solid black;
      }
      
      .mdiv {
        height: 25px;
        width: 2px;
        margin-left: 12px;
        background-color: black;
        transform: rotate(45deg);
        Z-index: 1;
      }
      
      .md {
        height: 25px;
        width: 2px;
        background-color: black;
        transform: rotate(90deg);
        Z-index: 2;
      }
    
    
    
      .modal-navigator{
        background-color: red;
        position: relative;
        top: 90%;
        width: 100%;

    }


    .body-box .cards1 {
        overflow: hidden;
        background-color: rgb(192, 68, 30);
        opacity: 1;
        margin-top: 20px;
        margin: 10px;
        padding: 50px 30px; 
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 280px;    /* width 340px  büyük hlai */ 
        height: 520px;   /* height 520px  büyük hali*/ 
        justify-content: start;
        border-radius: 15px;
       /*  box-shadow: -6px -6px 20px rgba(255,255,255,0.6),  
                    6px 6px 20px rgba(0,0,0, 0.5);  */
                    
                   /*  box-shadow:  -6px -6px 10px rgba(255,255,255,0.5),
                     6px   6px 20px    rgba(0,0,0, 0.05);    */
                   
                   
                   
                   
                     z-index: 2;
                 transition: all 0.2s ease-in;


        cursor: pointer;
                      
    }



    .body-box .cards:hover
    {
      /*   box-shadow:  -6px -6px 20px rgba(255,255,255,0.6),  
         6px 6px 20px rgba(0,0,0, 0.5); */
       /* box-shadow: inset -6px -6px 10px rgba(255,255,255,0.5),
                    inset 6px   6px 20px    rgba(0,0,0, 0.05);  */

        
        transform: scale(1.1);
        background-color: rgb(42, 175, 82);
        background-color: white;
    
    }
    
    
    
    .body-box .cards .card-img {
        cursor: pointer;
       align-self: center;
       margin-top: 10px;
       size: auto;

    }
  
    .body-box .cards p{
        
        font-size: 20px;
        margin-top: 5px;
        cursor: default;
        cursor: pointer;
        
 
     }
     .body-box .cards h1 a{
        color: rgb(0, 0, 0);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-family: 'Orbitron', sans-serif;
        font-weight: 20px;
        text-decoration: none;
        align-self: center;
        
        margin-top: 10px;
        letter-spacing: 6px;
        cursor: pointer;
        
     }
  
     .card-content{
        position: relative;
        right: 13.5%;
        
        text-align: center;
         cursor: default;
         padding-top: 7px;
         
         
     }

     .card-content h1{
        position: relative;
        right: 10%;
        text-align: center;
        cursor: default;
        width: 350px; 
        font-size: 25px;
             
    } 

     
    .card-content p{
        padding-top: 7px;
        text-align: center;
        cursor: default;
        width: 280px; 
        height: 200px;
        font-family: 'Times New Roman', Times, serif;
        padding:10px 10px;
    } 
     
    
    
   /* .readmorediv .readmore-button{
        padding-right: 5px;
        border-radius: 5px;
        padding-top: 7px;
    
        
      } */
    
      /* .readmorediv .readmore-button  {
        border: 2px solid rgb(42, 175, 82);
        background-color: rgb(19, 18, 18);
        
        align-self: center;
       
                                                            /* I'll come back to this later, no need for button right now.
        color: rgb(42, 175, 82);
        padding: 10px 20px;
        font-size: 20px;
        cursor: pointer;
        width: 200px;
        transition: all ease-in-out 300ms;
        
        
      }

      .readmore-button:hover{
          color: red;
      }
     */
    
    .body-box .cards .readmorediv   {
        
        position: relative;
        align-self: center;
        /* left: 11%;*/
        width: 300px;
        height: 300px;
        bottom: -2%;
        
        text-align: center;
        border-radius: 15px;
       /* box-shadow:  -6px -6px 10px rgba(255,255,255,0.5),
                     6px   6px 20px    rgba(0,0,0, 0.05);  */
        transform-origin: center;


        
       
    
    }
   /* .readmorediv::hover {
        box-shadow: inset -2px -2px 10px rgba(255,255,255,0.5),
        inset 2px   2px 10px    rgba(0,0,0, 0.05);
       
    }  */

    /* .body-box .cards .readmorediv a   {
        text-decoration: none;
        color:rgb(27, 93, 119);
        font-size: 25px;
    

    }
    */
    
    
    

    .readmorea a{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-decoration: none;
        color:black;
        font-size: 25px;
        margin-right: 9px;
        transition: ease-in 350ms;
        z-index: 10;
       
    }

    
   /* .body-active{
    opacity: 0.2;
    transition: 300ms ease-out;
  } */
  
  
   .contactmeblock {
        
        position: absolute;
        top: 36%;
        transform: translateX(50%);
        left: 0%;
        width: 56px;
        height: 256px;
        background-color: rgb(250, 242, 242);
        opacity: 0.9;
        border-radius: 15px;
        
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center; 
        display: none;
    }
  
    .socialmedia{
       cursor: pointer;
      
    }


    


    .socialimgs {
        transition: ease-in 0.2s;


    }
    
    
    
   .socialimgs:hover {
        transform: scale(1.2);
    }  
    
 
  
  .navbar{
      
     position: fixed;
      top: 0;
      left: 0%;
      background-color: rgb(0, 0, 0);
      
      height: 49px;
      width: 100%;
      
      display: flex;
      justify-content: start;
      z-index: 1;
       

  
    }

    .button-wrapper{
        position: fixed;
        top: 9px;
        left: 0.5%;
       
        width: 50%;
        height:8%;
        display: flex;
       

    }

   
    
   
    .contact-button-div{
        margin-left: 10px;
        height: 50%;
    }
    
    .contact-button-div .contact-button{
       /* padding-right: 10px;
        border-radius: 10px;
        padding-top: 7px; */
        padding-right: 0px;
        padding-top: 0px;
        width: 100%;
        width: 10px;
       
        height: 30px;
        
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 18px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        
    } 

       
    .contact-button-div .contact-button  {
        border: 2px solid rgb(192,227, 87);
        background-color: rgb(19, 18, 18);
       
        color: rgb(255, 255, 255);
        padding: 5px 10px;
        /*font-size: 15px;*/
        font-size: 11px;
        cursor: pointer;
        /*width: 160px; */
       /* width: 120px; */
       width: 100%;
       transition: all ease-in 200ms;
      
        
      }

      .contact-button:hover{
          opacity: 0.9;
          background-color: rgb(248, 244, 244);
          color: rgb(19, 18, 18);
          transform: translateX(2px);
      }
      
          
      

     



      .home-button-div .home-button{
        padding-right: 10px;
        
        padding-top: 7px;
        
        width: 100%;
        height: 80%;
        
        
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 18px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        display: none;
      }

      

      .home-button-div .home-button {
        border: 2px solid  rgb(42, 175, 82);
        background-color: rgb(42, 175, 82);
        
        
        color: rgb(42, 175, 82);
        padding: 0px 10px;
        font-size: 11px;
        cursor: pointer;
       /* width: 120px; */ 
       height: 30px;
       width:100%;
        /* color: rgb(19, 18, 18); */
        color: rgb(0, 0, 0);
        font-style: bold;
        transition: all ease-in 200ms;
      }

    
    .home-button:hover{
        opacity: 0.9;
        background-color: rgb(19, 18, 18);
        color: rgb(42, 175, 82);
        transform: translateX(2px);
    }

    

  


    .navbar-contents{
        list-style-type: none;
        display: flex;                  /* content navbar'ın ortasında. */
        flex-direction: row;
        width: 60%;
        height: 100%;
        padding-top: 5px;
        position: relative;
        
        align-self: center;
        left: 83%;
        margin-right: 40px;
        top: 18%;
    }
     
    .navbar-contents a:hover {
         
         color: rgb(169, 237, 240); 
        color: rgb(192, 15, 15);
        transition: ease 400ms;
    }
     


    .navbar a {
        cursor: pointer;
        text-decoration: none;
        /* color: #00CAE7; */
        color: rgb(230, 236, 232);
        font-size: 18px;
        margin-left: 30px;
        z-index: 1;
    }
  
  
  
  
    .container{
      position: absolute;
      top: 10%;
      height: 70%;
      width: 50%;
      background: rgb(23, 41, 80);
      align-content: center;
      z-index: -2;
      
  }
  .page-in{
      
    left: 30%;
       top: 30%;
     
      
  }
  
  
  
 

      
       
       
  /* I have changed the animation to fade in */
  
  .nav-link-container{
      
      background-color: rgb(0, 0, 0);
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: -8;
      opacity: 0;
      transition: opacity 300ms ease-out;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
  }
  
  
  .nav-links{
    overflow-y: visible;
    position: absolute;
    list-style: none;
    text-align: center;
    
    
    width: 300px;
    height:620px;
    
    right: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    flex-wrap: nowrap;
   
    opacity: 1;
    transition: opacity 150ms ease-out;
    background: #d1f1e9; 
    background-color: rgb(0, 0, 0);
    
    

  }


 .nav-active{
    

    opacity: 1;
    
    z-index: 1;
 
  }
  
  
  
  .nav-bg {
      
      position: absolute;
      top: 0;
      left: 0;
      width: 20%;
      height: 20%;
      transform: translateX(-100%);
      transition: transform 300ms ease-in;
      
      
      
      
  }
  
  .nav-bg-active{
      transform: translateX(0%);
      transition: transform 300ms ease-in;
      
  }

  .nav-links li{
    position: relative;
    top: 5%;
    margin-top: 30px;
    margin-bottom: 100px;
    padding-right: 10px;
    padding-left: 10px; 
    text-align: center;
   }



  .nav-links li a{
      transition: 400ms ease;
      
  }
  
  .nav-links li a:hover {
      color: rgb(241, 14, 14);
  }
  
  .nav-links  a{
       position: absolute;
       text-decoration: none;
      
       color: rgb(255, 255, 255);
       font-family: Georgia, 'Times New Roman', Times, serif;
       font-size: 47px;
       z-index: 1;
       letter-spacing: 4px;
       
       width: 300px;

      }
  
  .burger{
       display: block;
        position: fixed;
        top: 1.5%;
        right:2.7%;
        width: 20px;
        display: block;
        cursor: pointer;
        
        opacity: 1;
        display: none;
        z-index: 2;
        
  }
  
  
  .burgerpiece1 {
      border-radius: 5px;
      width: 110%;
      height: 4px;
      /*background-color:#00CAE7; */
      background-color: rgb(255, 255, 255);
      transition: all 600ms ease-out;
      
  }


  .burgerpiece2{
        border-radius: 5px;
        margin-top: 4px;
         width: 150%;
        height: 4px;
        /* background-color:#00CAE7; */
        background-color: rgb(255, 255, 255);
        transition: all 800ms ease-out
  }
  .burgerpiece3{
        border-radius: 5px;
        margin-top: 4px;
        width: 150%;
         height: 4px;
       /*  background-color: #00CAE7; */
        background-color: rgb(255, 255, 255);
        transition: all 800ms ease-out;
  }

  



.burgerpiece1::after{
       
        transform:translateY(16px);
  }






  .baslik{
      
      color: seagreen;
      font-size: 25px;
      position: absolute;
      top: 20%;
      letter-spacing: 20px;
      font-family: 'Roboto Mono', monospace;
      text-transform: uppercase;
      text-align: center;
      z-index: -1;
  }
  
  .baslik-alti{
     margin-top: 30px;
  }
  
  
 
  
  .low-section{
   /* background-image: url(../imgs/waterscale.jpg);
    background-size: 100% 60%;
    background-repeat: no-repeat;  */
     position: absolute;
      
      /* width: 200%;
      height: 100%; */
      bottom: -500px;
      display: block;
      background-color: rgb(207, 210, 245);
      z-index: -2;
      
  }

  @media only screen and (max-width: 1520px ){   /* 1480 */
      
    .burger{
       margin-top: 3px;
       margin-right: 8px;
       display: block;
    }
    
    
    .blacksection{
        height: 24%;
   
    }
    .tanitimbtns{
        margin-top: 20px;

    }
    
    .blackbaslik h1{
        font-size: 2.6em;
        
    }
    .blackbaslik{
   
        width: 26em;
        height: 18em;
    }
    
   

      .button-wrapper .contact-button{
          width: 120%;
          
      }
      
      
      
      .bg-img img {
        
        object-fit: cover;
        height: 100%;
      }

      .headerbox{
          top: 9%;
      }
      
      .body-box{
        
        margin-top: 30px;
        height: 98%;
        align-content: flex-start;
        flex-wrap: wrap;
        
        /*top: 60%; */
      }
      
      .body-box .cards{
        height: 300px;
        
        margin-top: 10px;
      

        
      }

      .body-box .cards:hover{
          transform: scale(1);
      }

      .body-box .cards .card-img{
          width: 20px;
          height: 20px;
          position: relative;
          top: -10%;
          left: -12%;
          align-self: center;
          transform: translateX(50%);

      }
      
      .body-box .cards .card-content{
          width: 280px;
          align-content: center;
          margin-right: 20px;
      }

      .body-box .cards .card-content a {
       font-size: 20px;
       display: inline;
       
       
       
    }

    .body-box .cards .card-content p {
        font-size: 15px;
        height: 150px;
        padding-top: 2px;
        
        
     }

     .body-box .cards .readmorediv{
         height: 40px;
         width: 120px;
         margin-top: -40px;
         
     }

     .body-box .cards .readmorediv a {
       font-size: 20px;
       width: 100%;
       height: 100%;
       
    }



      .imgimg{
        width: 60px;
        height: 60px;
        position: relative;
        top: -20px;
        
      }

      .contactmeblock{
          display: none;
      }
      .navbar-contents{
      margin-right: 800px;
      display: none;
      }


      .button-wrapper{
          left: 1%;
      }

      .isim{
          font-size: 20px;
      }
      .meslek{
          font-size: 20px;
      }


      
  }
  

  @media only screen and (max-height: 920px ) and (min-width:1600px) {   /* 760 */  /*1600*/
    
    .body-box{
      
        align-content: stretch;
        flex-direction: column;
    
       
        
    }
   
    
    .blacksection{
        height: 30%;
    }
    
    .burger{
       
        margin-right: 16px;
        margin-top: 8px;
     

    }

    .contact-button-div{
        right: 20%;
        margin-top: 3px;
    }

    .home-button-div{
        right: 50%;
        margin-top: 3px;
    }
    
       .body-box{
           flex-wrap: nowrap;
       }

        .body-box .cards {
           cursor: pointer;
           width: 280px;
           height: 400px;
        }
        .readmorediv{
           display: none;
        }

        .cards .card-img {
           
            padding-top: 0.1em;
            align-self: center;
            
        }
        
        
        
        .cards p {
            font-size: 5px;
           cursor: pointer;
            
            height: -30px;
        }
  
    
        
        .body-box{
        background: transparent;
            margin-top: 25em;
            height: 20%;
            flex-direction: row;
            
          top: 25%;
          }
          
          .body-box .cards{
            height: 400px;
            
            margin-top: 50px;
    
            
          }
    
    
    
    
    }




  @media only screen and (max-height: 655px) and (max-width: 1480px) {  /* max width: 760px */

    
   .body-box{
     
     height: 50%;
      align-content: center;
      
      
   }


  .readmorediv {
        display: none;
  }

  .body-box .cards {
      cursor: pointer;
      position: relative;
     
      height: 100px;
      
      size: auto;
      top: -3%;
  }
  
   .card-content{
    position: absolute;
    top: -6%;
    left: 0;
    
    height: 100px;
    width: 250px;
    overflow-x: hidden;
    cursor: pointer;
    padding-bottom: 10px;
    

  }


  
  
  .cards .card-img{
    position: absolute;
    top: 50%;
    left: 80%;
    
  }
  
  
  
  
   .cards .card-content p {
     
    font-size: 5px;
     cursor: pointer;
      padding-bottom: 10px;
      height: 10px;
      size: auto;
      display: none;
      

  }

  .cards .card-content a {
    width: 200px;
}

    




  } 


  @media only screen and (max-width: 1040px ) { 
    
    
    
    .modal-content{
        top: 20%;
        height: 40%;
    }
     
    .navbar{
        height: 50px;
        
     
    }
    .navbar-contents{
        display: none;
    }
    
    .blacksection{
        height: 24em;
    }
    .blackbaslik{
        margin-left: 2em;
        
    }

    .blackbaslik h1{
        font-size: 2.5em;
    }

    .blackyazi{
            display: none;
     }
    
    .tanitimbtns{
        width: 22em;
        margin-top: 40px;
        
    }
    .tanitimbtns a{
       font-size: 1.1em;
    }
    .scrollnav{
        top: 28em;
    }
    .scrollnav a{
        font-size: 1.7em;
    }
    .mymusicbtn{
     width: 10em;
    }
    .myworkbtn{
        width: 10em;
    }
     .burger{
        right: 6%;
        display: block;
    }

    .bg-img{
        background-position-x: -30vh;
        background-size: 170vh;
       

    }

    .button-wrapper {
        top: 11px;
    }

    .green-rain2{
        position: absolute;
        top: 300px;
        left: -24%;
        width: 360px;
        height: 1px;
}



  }



  @media only screen and (max-width: 520px ) { 
      

    .blacksection{
        top: 240px;
    }
 
    .bg-img { 
        background-position-x: left;
    }
    
    .blackbaslik{
        margin-left: 2em;
        width: 10em;
        
    }

    .blackbaslik h1{
        font-size: 2.5em;
    }

    .blackyazi{
            display: none;
     }
    
    .tanitimbtns{
        width: 15em;
        margin-top: 40px;
        
    }
    .tanitimbtns a{
       font-size: 0.8em;
    }
    .scrollnav{
        top: 25em;
    }
    .scrollnav a{
        font-size: 1.6em;
    }
    .mymusicbtn{
        width: 7em;
        height:2.5em;
    }
    .myworkbtn{
        width: 7em;
        height:2.5em;
    }

    .h1-container{
      margin-top: 280px;
      width: 290px;
   
    }
   
    .h1-container h1{
        letter-spacing: 2px;
        font-size: 30px;

    }
    .divider{
        width: 100%;
        margin-top: 30px;
        border-radius: 5px;
    }
    .img-container{
  
        height:200px;
        width: 400px;
        left: -50%;
        margin-top: 220px;
        
    }

    .img-container img{
    width: 200%;
    height: 140%;
    } 
    
    .proje-basligi h1 {
        color: white;  font-size-adjust: initial; font-size:60px;
    }

    .p-container{
       
             width: 80%;
            padding-left: 30px;
    }

    .p-container p{
        color: white;
        
        font-size: 26px;
    }


  }
